@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

body {
   font-family: 'Roboto Slab', sans-serif;
   color: #4a4a4a;
   font-size: 12px;
   line-height: 1.5;
   width: 300px;
   margin: 8px;
}

p {
   margin-top: 8px;
   margin-bottom: 16px;
}

article {
   font-size: 14px;
   line-height: 1.43;
}

h1 {
   font-size: 36px;
   font-weight: bold;
   line-height: 1;
   text-align: center;
   color: #9013fe;
   margin-top: 16px;
   margin-bottom: 12px;
}

h2 {
   font-size: 24px;
   line-height: 1;
   font-style: normal;
   font-weight: normal;
   color: #4a4a4a;
   margin-top: 8px;
   margin-bottom: 4px;
}

h3 {
   font-size: 20px;
   line-height: 1;
   font-weight: normal;
   text-align: right;
   color: #9b9b9b;
   text-transform: uppercase;
}

li {
   margin-bottom: .5em;
}

ul, ol {
   padding-left: 2em;
   font-size: 14px;
   font-weight: bold;
   line-height: 1.43;
}

blockquote {
   font-size: 1.5em;
   font-weight: bold;
}

pre {
   background: #eee;
   padding: .5em;
}

code {
   background: #eee;
   padding: 2px;
   border-radius: 1px;
}